<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated DBLP -->
      <package
            uri="http://dblp.com"
            class="dblp.DBLP.DBLPPackage"
            genModel="metamodels/DBLP.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated AuthorInfo -->
      <package
            uri="http://AuthorInfo"
            class="dblp.AuthorInfo.AuthorInfoPackage"
            genModel="metamodels/AuthorInfo.genmodel"/>
   </extension>

</plugin>
