<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated DBLP -->
      <package
            uri="http://dblp.com"
            class="dblp.DBLP.DBLPPackage"
            genModel="metamodels/DBLP.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated AuthorInfo -->
      <package
            uri="http://AuthorInfo"
            class="dblp.AuthorInfo.AuthorInfoPackage"
            genModel="metamodels/AuthorInfo.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated BibTeX -->
      <package
            uri="PrimitiveTypes"
            class="a2l.tests.bibtex.PrimitiveTypes.PrimitiveTypesPackage"
            genModel="metamodels/BibTeX.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated BibTeX -->
      <package
            uri="BibTeX"
            class="a2l.tests.bibtex.BibTeX.BibTeXPackage"
            genModel="metamodels/BibTeX.genmodel"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated DocBook -->
      <package
            uri="DocBook"
            class="a2l.tests.docbook.DocBook.DocBookPackage"
            genModel="metamodels/DocBook.genmodel"/>
   </extension>

</plugin>
